.avaliacoes{
    border-radius: 5px;
    background-color: #E1E2E4;
    padding: 30px;
    margin: 0 auto;
    max-width: 50%;
    margin-top: 80px;
    margin-bottom: 20px;
    font-family: 'Barlow';
}
.avaliacoes #bold-name{
    font-weight: 700;
    border-bottom: 2px solid #404040;
}
#bold-name-2{
    font-weight: 700;
}
.button {
    background-color: #FFDE59;
    font-family: 'Barlow';
    color: black;
    padding: 4px;
    margin: 10px 0;
    border: 1px solid black;
    width: auto;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    margin-right: 10px;
}
.button:hover{
    background-color: #eee;
}
.button_gray{
    background-color: gray;
    font-family: 'Barlow';
    color: black;
    padding: 4px;
    margin: 10px 0;
    border: 1px solid black;
    width: auto;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    margin-right: 10px;
}
.button_gray:hover{
    background-color: #eee;
}
.msg_erro{
    margin: 0, auto;
    text-align: center;
    margin-top: 20px;
    font-family: 'Barlow';
}
.avaliacoes form input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #FFDE59;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    margin-bottom: 16px;
}
a{
    color: gray;
}