/* Carrinho vazio */
.sem_produtos{
    height: 100%;
    text-align: center;
    border-radius: 5px;
    background-color: #E1E2E4;
    padding: 30px;
    margin: 0 auto;
    max-width: 50%;
    margin-top: 80px;
    margin-bottom: 20px;
}
.sem_produtos img{
    width: 20%;
}
.texto_divisao{
    font-size: larger;
}

.button_divisao {
    background-color: #FFDE59;
    font-family: 'Barlow';
    color: black;
    padding: 8px;
    border: 1px solid black;
    width: auto;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
}

.button_divisao:hover{
    background-color: #eee;
}

.button_divisao a{
    font-size: large;
    text-decoration: none;
    color: black;
}

/* CARRINHO */

.container{
    font-family: 'Barlow';

}

h1{
    padding-top: 1%;
    padding-left: 6%;
    font-family: 'Barlow';
}

.tabela_carrinho{
    border-collapse: collapse;
    font-size: 18px;
    min-width: 500px;
    font-family: 'Barlow';
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    margin: 0 auto;
    width: 80%;
    margin-bottom: 10px;
}

.tabela_carrinho thead tr{
    background-color: #E1E2E4;
    color: black;
    text-align: center;
    font-weight: 700;
    border-bottom: 2px solid #404040;
}

th{
    padding: 8px;
}
.table_carrinho tbody tr img{
    width: 25px;
}
.tabela_carrinho .produto{
    display: flex;
    padding: 20px 0px 20px 50px;
}

.tabela_carrinho .produtos{
    margin-left: 20px;
    text-align: left;
}

.tabela_carrinho .produtos .titulo{
    font-size: 15px;
}

.tabela_carrinho .produtos .autor{
    font-size: small;
}

.tabela_carrinho .produtos .eliminar{
    font-size: small;
    margin-top: 75px;
}

.tabela_carrinho th, .tabela_carrinho td{
    padding:12px 15px;
}
.tabela_carrinho tbody tr{
    border-bottom: 2px solid #404040;
}

.tabela_carrinho .eliminar img:hover{
    transform:scale(1.1);
}
.valores_finais{
    margin-top: 3%;
    margin-bottom: 30px;
    text-align: right;
    padding: 2px 50px;
    background-color: #E1E2E4;
}

.valores_finais .info{
    margin: 10px;
}

.button {
    background-color: #FFDE59;
    font-family: 'Barlow';
    color: black;
    padding: 4px;
    border: 1px solid black;
    width: auto;
    border-radius: 3px;
    cursor: pointer;
    font-size: 20px;
    margin-left: 10%;
    margin-bottom: 50px;
}

.button:hover{
    background-color: #eee;
}

.button a{
    text-decoration: none;
    color: black;
}

/* MÉTODOS DE PAGAMENTO */

#h1_pagamento{
    font-family: 'Barlow';
    margin: 0 auto;
    max-width: 80%;
    padding-left: 0;
    padding-bottom: 10px;
}

.button_pagamento {
    background-color: #E1E2E4;
    font-family: 'Barlow';
    color: black;
    padding: 4px;
    width: 80%;
    height: 100px;
    border-radius: 3px;
    cursor: pointer;
    text-align: left;
    padding-left: 20px;
    margin-left: 10%;
    margin-bottom: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.button_container{
    display: table;
    width: 100%;
    height: 100%;
}

.button_text{
    font-size: 32px;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
}

.button_pagamento a{
    text-decoration: none;
    color: black;
}

#multibanco{
    height: 90px;
    width: auto;
    float: right;
    vertical-align: middle;
}

#credito{
    height: 90px;
    width: auto;
    float: right;
    vertical-align: middle;
    padding-right: 10px;
}

#mbway{
    height: 80px;
    width: auto;
    float: right;
    vertical-align: middle;
    padding-top:5px;
    padding-right: 15px;
}
