/*-------------ACTIVE PAGE----------------------*/
.livrarias_active{
    font-weight: 700;
  }
/*LIVRARIAS*/

h1{
    padding-top: 1%;
    padding-left: 6%;
    font-family: 'Barlow';
}

.livraria_box {
    width:55%;
    padding: 2% 2% 2% 5%;
    display: grid;
    grid-template-columns: repeat(4, 35%);
    grid-gap:20px;
    flex-wrap: wrap;
    padding: 100px rgb(0, 0, 0);
}

.livraria_box .content{
    display: inline-block;
    border: 1px solid black;
    flex: 1;
    padding: 2% 2% 2% 7% ;
    text-align: left;
    margin: 4%;
    position: relative;
}
.livraria_info{
    margin-top: auto;
    font-family: 'Barlow';
    text-align: left;
    width: 200px;
    border: 1px black;
}

.livraria_info .nome{
    color: black;
    font-weight: bold;
    padding-bottom: 4%;
    border-bottom: 1.5px solid black;
}

.livraria_info .info{
    color: rgb(0, 0, 0);
    font-weight: normal;
    
}
.filtro{
    font-family: 'Barlow';
    padding-left: 6%;
}

.filtro select{
    width:18.5%;
    padding:2px;
    border: double black;
    border-radius: 3px;
}

.filtro input[type="submit"]{
    background-color: #FFDE59;
    border: double brown;
    font-weight: bold;
    padding:2.5px;
    border-radius: 3px;
}


